doctype html


html
    head
        title TopraTek
        script(src='https://unpkg.com/htmx.org@1.9.10' integrity='sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC' crossorigin='anonymous')

    body
        span some random shit

        - const locId = 123;
        div(id=`${locId}`)
            p This is the content of div with id=123.
            button(type="button" hx-get="/location" hx-vals='js:{"id": getParentId(event)}')
                | Get Location

        script.
            console.log(new Date)

            function getParentId(event) {
                return event.currentTarget.parentNode.id
            }

