
link(rel='stylesheet', href='./CSS/navbar.css')

header.navbar
    nav.navbar__container
        span.navbar__brand TopraTek
        div.navbar__links
            a.navbar__link(href="/") Map
            a.navbar__link(href="/groups") Groups
            a.navbar__link(href="/settings") Settings