
link(rel='stylesheet', href='./CSS/navbar.css')

nav
    span.nav_brand TopraTek
    div.nav_links
        a.nav_link(href="/") Map
        a.nav_link(href="/groups") Groups
        a.nav_link(href="/settings") Settings