:root {
    --primary-color: #092635;
    --secondary-color: rgb(27, 66, 66);
    --third-color: #5C8374;
    --fourth-color: #9EC8B9;
    --text-color: white;
    /*    light and dark modes to be added  */
    --border-radius: 5px;

    --min-screen-width: 500px;
    --map-border-thickness: 2px;
}

* {
    margin: 0;
    padding: 0;
}



main {
    display: flex;
}








