body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: var(--third-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: var(--text-color);
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid var(--fourth-color);
    border-radius: 4px;
}

button[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--primary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

#error-box {
    margin-top: 10px;
}

#error-box p {
    color: red;
}
