<!DOCTYPE html><html><head><title>TopraTek</title><script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script></head><body><span>some random shit</span><div id="123"><p>This is the content of div with id=123.</p><button type="button" hx-get="/location" hx-vals="js:{&quot;id&quot;: getParentId(event)}">Get Location</button></div><script>console.log(new Date)

function getParentId(event) {
    return event.currentTarget.parentNode.id
}</script></body></html>