:root {
    --nav-height: 36px;
    --nav-text-padding: 50px;
    --nav-box-padding: 5px;
    --total-nav-height: calc(var(--nav-height) - 2*var(--nav-box-padding));

}

nav {
    width: 100vw;
    height: var(--nav-height);
    background-color: var(--primary-color);
    color: var(--text-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-box-padding);

    position: relative;
    /*position: sticky;*/
    top: 0;
    border-bottom: 2px solid var(--secondary-color);

    font-weight: bold;
}

.nav_brand {
    padding-left: var(--nav-text-padding);
}

.nav_links {
    display: flex;
    gap: 20px;
    padding-right: var(--nav-text-padding);
}

.nav_link {
    text-decoration: none;
    color: var(--nav-text-padding);
    margin: 0;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--nav-text-padding);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--primary-color);
}

.nav_link:hover {
    filter: brightness(1.5);
}

img.icon {
    width: 20px;
}